.mod-content {
	img {
		max-width: 100%;
	}
	img.size-full {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 0 10px 0;
	}
	.kolom {
		border-radius: 0px 15px;
	}
}

@include media-breakpoint-up(lg) {
	.mod-content {
		
	}
}