.loaded {
	header {

	}
}

.logospacer {
	padding-top: 160px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: 1s $ease;
	height: 65px;
	padding: 100px 0;
	background: transparent;
	&.text-dark {
		color: $greendark;
		a {
			color: $greendark;
			&:hover {
				color: $greenlight;
			}
		}
	}
	.header-brand {
		display: block;
		background: url($logo_sm_color);
		height: 90px;
		width: 90px;
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			margin-left: 0;
			a {
				text-decoration: none;
				font-size: 16px;
				font-weight: 600;
			}
			&.nav-itemlang-item {
				padding: 4px;
				&.lang-item-first {
					margin-left: 25px;
				}
				a[href] {
					color: $dark;
					position: relative;
					font-size: 14px;
					padding: 8px 2px;
					&:hover {
						color: $orange;
					}
					&:after {
						content: '';
						position: absolute;
						top: 4px;
						left: 50%;
						transform: translateX(-50%);
						height: 28px;
						width: 28px;
						border-radius: 30px;
						z-index: -1;
					}
				}
				&.current-lang {
					a[href] {
						pointer-events: none;
						color: #fff;
						&:hover {
							color: #fff;
						}
						&:after {
							background: $orange;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	header {
		padding: 80px 0;
		.header-brand {
			height: 100px;
			width: 100px;
			margin: 0;
		}
	}
}

@include media-breakpoint-down(xl) {
	header {
		position: absolute !important;
	}
}


@include media-breakpoint-up(xl) {
	
	.logospacer {
		padding-top: 200px;
	}
	
	header {
		position: fixed;
		height: 210px;
		padding: 0;
		.service {
			border-left: 1px solid $greendark;
			padding-left: 30px;
		}
		&.text-white .service {
			border-color: #fff;
		}
		.header-brand {
			display: block;
			background: url($logo_color);
			height: 150px;
			width: 150px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&.nav-up {
			transform: translateY(-130px);
			transition-delay: color .6s;
			.header-brand {
				transition-delay: background .6s;
			}
		}
		&.nav-down {
			transform: translateY(0);
			transition-delay: background .6s;
		}
		&.nav-up, &.nav-down {
			background: #fff;
			height: 130px;
			.nav, .service {
				margin-top: 22px;
			}
			.service {
				border-color: $greendark;
			}
			.header-brand {
				display: block;
				height: 90px;
				width: 90px;
			}
			ul {
				li {
					a {
						color: $greendark;
					}
				}
			}
		}
		&.nav-down {
			box-shadow: $box-shadow;
		}
	}
}