.mod-searchinput {
	.form-group {
		position: relative;
		input {
			border-radius: 100px;
		}
		.searchicon {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50px;
			line-height: 50px;
			text-align: center;
			background: $greendark;
			color:#fff;
			border-radius: 100px;
			input {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				height: 50px;
				width: 50px;
			}
			&:hover {
				background: $greenlight;
			}
		}
	}
}