.single {
	.single-banner {
		position: relative;
		height: 400px;
		z-index: 0;
		&:after {
			content: '';
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 30%;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		}
	}
	.panel {
		background: #fff;
		padding: 0 0 30px;
		z-index: 1;
		position: relative;
	}
	.meta {
		color: $greendark;		
		border-top: 2px solid $greendark;
		display: inline-block;
		padding-top: 6px;
		font-weight: 600;
		i {
			margin-right: 6px;
		}
	}
	.auteur {
		font-style: italic;
		position: relative;
		margin-top: 60px;
		&:after {
			position: absolute;
			top: -30px;
			height: 2px;
			background: $greendark;
			width: 320px;
			max-width: 100%;
			content: '';
		}
	}
	.volg {
		width: 420px;
		max-width: 100%;
	}
}

@include media-breakpoint-up(md) {
	.single {
		.single-banner {
			height: 600px;
		}
		.panel {
			margin-top: -240px;
			padding: 40px 60px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.single {
		.single-banner {
			height: 700px;
		}
		.panel {
			margin-top: -270px;
			padding: 50px 75px;
		}
	}
}


@include media-breakpoint-up(xxl) {
	.single {
		.single-banner {
			height: 800px;
		}
		.panel {
			margin-top: -330px;
			padding: 60px 90px;
		}
	}
}