{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <section class="mod-archive">
            <div class="container">
                <h1 class="h2 mb-5 mt-3 text-center">Waar wil je mee aan de slag?</h1>
                {% if categories %}

                   <div class="row no-gutters">
                      <div class="col-auto col-md">
                         <a href="/themas" class="btn btn-secondary {% if current_category == '' %} active {% endif %}">Themas</a>
                      </div>
                      {% for item in categories %}
                         <div class="col-auto">
                            <a href="{{ item.link }}" class="btn btn-secondary {% if item.id == current_category %} active {% endif %}">{{ item.title }}</a>
                         </div>
                      {% endfor %}
                   </div>
        
                {% endif %}
                <div class="row mt-2 anime-fadein">
                    {% for item in posts %}

                      <div class="col-md-6 col-lg-4 mb-30">
                          {% include ['tease.twig'] %}
                      </div>
                    {% endfor %}
                </div>
                {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
            </div>
        </section>
    </article>
{% endblock %}