{% if menu %}
	<ul class="nav text-end w-100">
		{% for item in items %}
			<li class="nav-item {{ item.classes | join(' ') }}">
				<a class="nav-link h3 weight-400 mb-4" target="{{ item.target }}" href="{{ item.link }}">
					{{ item.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
